.navBack {
  border-radius: 10px;
  background-color: #efefef !important;
  text-align: center;
  width: 45px;
  cursor: pointer;
}

.verticalCenter p {
  color: #f1cd31;
  font-size: larger;
}

.contentTitle p {
  margin: 0px;
}

.title {
  font-size: 16px;
}

.ingredients {
  font-size: 12px;
  color: #6e80b0;
}

.buttonSave {
  padding-right: 5px;
  text-align: end;
}

.imgList img {
  border-radius: 15px;
  object-fit: cover;
}

.buttonLike {
  padding-left: 0px;
}
