.pointer:hover {
  cursor: pointer;
}

.buttonProfile {
  position: sticky;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 568px;
  margin-bottom: 0px;
}

.buttonPhoto button {
  color: black;
  font-weight: lighter;
}

.buttonCancel button {
  color: black;
  margin-bottom: 10px;
}
